<div id="chatroom">
	<h2 class="min-chatroom">Chatroom</h2>

	<div class="chat-show">
		<div id="chat">
			<%= render :message %>
		</div>
	</div>

	<div class="chat-send">
		<%= form_for resource, :remote => true, :html => { :class => "send-message" } do |f| %>
			<%= f.text_field :content, :id => "message_content" %>
			<%= f.submit "Send", :class => "btn" %>
		<% end %>
	</div>
</div>

<div id="chatBeam">
	<h2 class="max-chatroom">Chatroom</h2>
</div>
